<body>
    <div class="center">
        <h1>Login</h1>
        <form>
            <div class="txt_field">
                <input type="email" id="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="SIGN IN">
            <div class="signup_link">
                Not a member? <a>Signup</a>
            </div>
        </form>
    </div>
</body>
